<ul>
    <li>
        <span>Data de fundação: <%=data_fundacao %></span>
    </li>
    <li>Endereço<br>
        <span>provincia: <%=provic %></span>
        <span>Municipio:<%=munic %></span>
        <span>Cidade/Bairro<%=bairro %></span>
        <span>Rua:<%=rua %></span>
    </li>
    <li>Contactoo<br>
        <span><%=tel_mov %></span>
        <span><%=tel_uni %></span>
    </li>
</ul>